<ion-header>

   <header  myTitle="Order History"></header>

</ion-header>



<ion-content padding>

    <!--<button *ngFor="let order of getUserOders()"(click)="showOrderDetails()" ion-button clear item-left><a href="#">15/5/2015 12:04 AM</a>
    </button>-->
   <ion-list *ngFor="let order of getUserOders();">
       <ion-item>{{order.idorder}} </ion-item>
       <ion-item> {{ order.ordertime}}</ion-item>
       <ion-item> {{ order.selectedtime}} </ion-item>
       </ion-list>
    <details>
    </details>

    

</ion-content>