<ion-header>
    <header myTitle="Cart"></header>
</ion-header>


<ion-content padding>

    <div class="row header" *ngIf="checkArrLength()>0">
        <div class="col">Name</div>
        <div class="col">Quantity</div>
        <div class="col">Price</div>
        <div class="col">Action</div>
    </div>

    <div class="row" *ngFor="let product of Listproducts()">
        <div class="col">{{product.name}}</div>
        <input class="col" type="number" [(ngModel)]="product.quantity" id="inputNum" min="1">
        <div class="col">{{product.price*product.quantity}}LE</div>
        <div class="col"><button class="button" id="inputdelete" style="background-color:white" (click)="deleteProduct(product.idproduct)"><ion-icon name="md-trash"></ion-icon></button></div>
    </div>

    <br/>
    <div *ngIf="checkArrLength()>0">
        <button (click)="deleteAll()" ion-button full>delete all</button>
    </div>
    <div *ngIf="checkArrLength()>0">
        <button (click)="continueShopping()" ion-button full>Continue shopping</button>
    </div>
    <div *ngIf="checkArrLength()>0">
        <button (click)="checkOut()" ion-button full>Checkout</button>
    </div>

    <div *ngIf="checkArrLength()==0" id="emptyDiv">
        <span>Empty</span>
    </div>

</ion-content>