<ion-header>

    <header myTitle="Order Details"></header>

</ion-header>



<ion-content padding>

    <ion-grid>
        <ion-row class="header">
            <ion-col col-5>product name</ion-col>
            <ion-col col-3>quantity</ion-col>
            <ion-col col-4>price</ion-col>
        </ion-row>

        <ion-row *ngFor="let product of Orderdetails">
            <ion-col col-5 id="productWrapper">{{product.name}}</ion-col>
            <ion-col col-3 id="inputNum">{{product.orderquantity}}</ion-col>
            <ion-col col-4 id="priceWrapper">{{product.orderquantity*product.unitprice}} LE</ion-col>
        </ion-row>
    </ion-grid>

    <ion-list *ngFor="let product of Orderdetails">
        <ion-item>Orderd at: {{ordertime}}</ion-item>
        <ion-item>Total Salary: {{totalprice}}</ion-item>
    </ion-list>

    <button (click)="backBtn()" ion-button full>OK</button>

    <!--<div class="row header">
        <div class="col">product name</div>
        <div class="col">quantity</div>
        <div class="col">price</div>
    </div>
    <div *ngFor="let product of Orderdetails">
        <div class="row">
            <div class="col">{{product.name}}</div>
            <div class="col">{{product.orderquantity}}</div>
            <div class="col">{{product.orderquantity*product.unitprice}}</div>
        </div>
    </div>-->

    <!--<div>
        <br/> Orderd at: {{ordertime}}<br/> Total Salary: {{totalprice}}
    </div>

    <br/>-->
    <!--<button (click)="backBtn()" ion-button full>OK</button>-->

</ion-content>